In [8]:
import pandas as pd
iris= pd.read_csv('iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
y= iris.species
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [19]:
x=iris.iloc[:,0:4]
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [20]:
from sklearn.tree import DecisionTreeClassifier as dtree
model=dtree()

In [30]:
model.fit(x,y)

DecisionTreeClassifier()

In [32]:
new_x=[[5.1,3.5,1.4,0.2],]
predictedResult=model.predict(new_x)

In [33]:
predictedResult

array(['setosa'], dtype=object)

In [34]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest ,ytrain , ytest =train_test_split(x,y,test_size =0.25)

In [35]:
Xtrain

     sepal_length  sepal_width  petal_length  petal_width
54            6.5          2.8           4.6          1.5
101           5.8          2.7           5.1          1.9
28            5.2          3.4           1.4          0.2
11            4.8          3.4           1.6          0.2
118           7.7          2.6           6.9          2.3
..            ...          ...           ...          ...
29            4.7          3.2           1.6          0.2
125           7.2          3.2           6.0          1.8
124           6.7          3.3           5.7          2.1
73            6.1          2.8           4.7          1.2
95            5.7          3.0           4.2          1.2

[112 rows x 4 columns]

In [36]:
model.fit(Xtrain ,ytrain)

DecisionTreeClassifier()

In [37]:
result = model.predict(Xtest)
result

array(['versicolor', 'virginica', 'virginica', 'virginica', 'virginica',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'virginica',
       'virginica', 'setosa', 'virginica', 'versicolor', 'virginica',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'setosa',
       'virginica', 'versicolor', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'setosa', 'setosa',
       'setosa', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'versicolor'], dtype=object)

In [39]:
from sklearn import metrics
metrics .accuracy_score(ytest,result)

0.9736842105263158

In [38]:
ytest

59     versicolor
129     virginica
148     virginica
110     virginica
102     virginica
66     versicolor
17         setosa
20         setosa
50     versicolor
130     virginica
103     virginica
12         setosa
127     virginica
69     versicolor
111     virginica
60     versicolor
40         setosa
142     virginica
94     versicolor
24         setosa
113     virginica
133     virginica
139     virginica
80     versicolor
67     versicolor
71     versicolor
104     virginica
68     versicolor
9          setosa
15         setosa
33         setosa
98     versicolor
32         setosa
51     versicolor
105     virginica
75     versicolor
144     virginica
74     versicolor
Name: species, dtype: object

In [ ]:
from sklearn import tree

In [41]:
from sklearn.naive_bayes import GaussianNB as gnb
model2=gnb()

In [42]:
model2.fit(Xtrain,ytrain)

GaussianNB()

In [43]:
r2=model2.predict(Xtest)

In [44]:
metrics.accuracy_score(ytest,r2)

0.9736842105263158